<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.StudentMapper">
    <select id="selectByStudentId" parameterType="String" resultType="org.example.entity.Student">
        SELECT
            s.student_id,
            s.password,
            s.name,
            s.gender,
            s.major_id,
            s.class_id,
            s.grade,
            c.class_name,
            m.major_name
        FROM student s
                 LEFT JOIN class_info c ON s.class_id = c.class_id
                 LEFT JOIN major m ON s.major_id = m.major_id
        WHERE s.student_id = #{studentId}
    </select>

    <select id="selectAll" resultType="org.example.entity.Student">
        SELECT
            s.student_id,
            s.password,
            s.name,
            s.gender,
            s.major_id,
            s.class_id,
            s.grade,
            c.class_name,
            m.major_name
        FROM student s
                 LEFT JOIN class_info c ON s.class_id = c.class_id
                 LEFT JOIN major m ON s.major_id = m.major_id
    </select>

    <insert id="insert" parameterType="org.example.entity.Student">
        INSERT INTO student (
            student_id,
            password,
            name,
            gender,
            major_id,
            class_id,
            grade
        ) VALUES (
                     #{studentId},
                     #{password},
                     #{name},
                     #{gender},
                     #{majorId},
                     #{classId},
                     #{grade}
                 )
    </insert>

    <update id="update" parameterType="org.example.entity.Student">
        UPDATE student SET
                           password = #{password},
                           name = #{name},
                           gender = #{gender},
                           major_id = #{majorId},
                           class_id = #{classId},
                           grade = #{grade}
        WHERE student_id = #{studentId}
    </update>

    <delete id="delete" parameterType="String">
        DELETE FROM student WHERE student_id = #{studentId}
    </delete>
</mapper>