<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.StudentMapper">
    <select id="selectByStudentId" parameterType="String" resultType="org.example.entity.Student">
        SELECT * FROM student WHERE student_id = #{studentId}
    </select>

    <insert id="insert" parameterType="org.example.entity.Student">
        INSERT INTO student (student_id, password, name, gender, origin, grade, class_id, major_id, college_id, remark)
        VALUES (#{studentId}, #{password}, #{name}, #{gender}, #{origin}, #{grade}, #{classId}, #{majorId}, #{collegeId}, #{remark})
    </insert>

    <update id="update" parameterType="org.example.entity.Student">
        UPDATE student SET
                           password = #{password},
                           name = #{name},
                           gender = #{gender},
                           origin = #{origin},
                           grade = #{grade},
                           class_id = #{classId},
                           major_id = #{majorId},
                           college_id = #{collegeId},
                           remark = #{remark}
        WHERE student_id = #{studentId}
    </update>
    <delete id="delete" parameterType="String">
        DELETE FROM student WHERE student_id = #{studentId}
    </delete>
    <select id="selectByCondition" parameterType="Map" resultType="org.example.entity.Student">
        SELECT * FROM student
        <where>
            <if test="studentId != null">AND student_id = #{studentId}</if>
            <if test="name != null">AND name LIKE CONCAT('%', #{name}, '%')</if>
            <if test="classId != null">AND class_id = #{classId}</if>
            <if test="majorId != null">AND major_id = #{majorId}</if>
            <if test="collegeId != null">AND college_id = #{collegeId}</if>
            <if test="grade != null">AND grade = #{grade}</if>
        </where>
    </select>

    <select id="selectByClassId" parameterType="String" resultType="org.example.entity.Student">
        SELECT * FROM student WHERE class_id = #{classId}
    </select>

    <select id="selectByMajorId" parameterType="String" resultType="org.example.entity.Student">
        SELECT * FROM student WHERE major_id = #{majorId}
    </select>

    <select id="selectByCollegeId" parameterType="String" resultType="org.example.entity.Student">
        SELECT * FROM student WHERE college_id = #{collegeId}
    </select>
</mapper>